/* import Satoshi Font */
@font-face {
    font-family: 'Satoshi';
    src: url('../fonts/Satoshi-Regular.eot');
    src: url('../fonts/Satoshi-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Satoshi-Regular.woff') format('woff'),
        url('../fonts/Satoshi-Regular.ttf') format('truetype'),
        url('../fonts/Satoshi-Regular.svg#Satoshi-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Satoshi', sans-serif;
}

.navbar {
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-nav .nav-link {
    font-size: 0.9rem;
}

.navbar-brand span {
    color: #f9a826;
}

.row {
    --bs-gutter-x: 0;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.justify-content-center {
    justify-content: center !important;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #eaeaea;
}

header {
    border-bottom: 2px solid #eaeaea;
}

.bg-dark {
    background-color: #1a1a1a !important;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #fff;
        --bg: #000;
    }
}